<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="myTimestamp" datePattern="yyyyMMdd.HHmm"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
               <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
       </encoder>
     </appender>

	<!-- <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <FileNamePattern>c:/inu/log/nm_componentes.%d{yyyyMMdd}.log</FileNamePattern>
	  </rollingPolicy>
	  <encoder>
	    <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
	  </encoder>
	</appender> -->
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>C:/Users/imontesi/OneDrive - Capgemini/Documents/uni/log/nm_componentes.${myTimestamp}.log</file>
	    <encoder>
	        <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
	    </encoder>
	</appender>
	
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="es.lacaixa.inu" level="debug" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="error">
		<!-- <appender-ref ref="rollingFileAppender" /> -->
		<appender-ref ref="STDOUT" />
	</root>	

</configuration>